* {
  padding: 0;
  margin: 0; }

/*
0 - 600px -         Phone
600px - 900px -    Tablet portrait
900px - 1200px -    Tablet landscape

[1200-1800] is where our normal styles apply

1800px + -          Big desktop
*/
/*
$breakpoint argument choices:
- phone-m
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 26.56em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 30.5%; } }

body {
  font-family: 'Red Hat Display', sans-serif; }

header {
  background-color: #252A34; }
  header nav .nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem; }
    @media only screen and (max-width: 90em) {
      header nav .nav {
        display: flex;
        justify-content: space-between;
        padding: 4rem 10rem; } }
    @media only screen and (max-width: 48em) {
      header nav .nav {
        display: block;
        padding: 2rem; } }
    @media only screen and (max-width: 26.56em) {
      header nav .nav {
        display: block;
        padding: 2rem; } }
    @media only screen and (max-width: 20em) {
      header nav .nav {
        display: block;
        padding: 2rem; } }
    header nav .nav__logo {
      font-size: 2rem;
      color: #08D9D6;
      text-transform: uppercase;
      text-align: center; }
      @media only screen and (max-width: 48em) {
        header nav .nav__logo {
          font-size: 2rem;
          padding-bottom: 2rem; } }
      @media only screen and (max-width: 26.56em) {
        header nav .nav__logo {
          font-size: 2rem;
          padding-bottom: 2rem; } }
      @media only screen and (max-width: 20em) {
        header nav .nav__logo {
          font-size: 2rem;
          padding-bottom: 2rem; } }
      header nav .nav__logo-fav {
        position: relative;
        top: 10%;
        width: 2rem;
        text-align: center; }
        @media only screen and (max-width: 48em) {
          header nav .nav__logo-fav {
            width: 2rem; } }
        @media only screen and (max-width: 26.56em) {
          header nav .nav__logo-fav {
            width: 2rem; } }
        @media only screen and (max-width: 20em) {
          header nav .nav__logo-fav {
            width: 2rem; } }
    header nav .nav__buttons {
      display: flex;
      list-style: none; }
      @media only screen and (max-width: 48em) {
        header nav .nav__buttons {
          text-align: center;
          justify-content: center; } }
      @media only screen and (max-width: 26.56em) {
        header nav .nav__buttons {
          text-align: center;
          justify-content: center; } }
      @media only screen and (max-width: 20em) {
        header nav .nav__buttons {
          text-align: center;
          justify-content: center; } }
      header nav .nav__buttons a {
        padding: 0 3rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: #fff; }
        @media only screen and (max-width: 48em) {
          header nav .nav__buttons a {
            padding: 0 3rem;
            font-size: 1.5rem; } }
        @media only screen and (max-width: 26.56em) {
          header nav .nav__buttons a {
            padding: 0 2rem;
            font-size: 1.5rem; } }
        @media only screen and (max-width: 20em) {
          header nav .nav__buttons a {
            padding: 0 2rem;
            font-size: 1.5rem; } }
        header nav .nav__buttons a:first-child {
          color: #08D9D6; }
        header nav .nav__buttons a:hover {
          color: #08D9D6; }
  header .nav__join-btn {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 1rem 3rem; }
    @media only screen and (max-width: 48em) {
      header .nav__join-btn {
        display: none; } }
    @media only screen and (max-width: 26.56em) {
      header .nav__join-btn {
        display: none; } }
    @media only screen and (max-width: 20em) {
      header .nav__join-btn {
        display: none; } }

.home {
  padding: 0 10rem;
  display: flex;
  background-color: #252A34; }
  @media only screen and (max-width: 48em) {
    .home {
      display: inline-block;
      padding: 0 6rem; } }
  @media only screen and (max-width: 26.56em) {
    .home {
      display: inline-block;
      padding: 0 4rem; } }
  @media only screen and (max-width: 20em) {
    .home {
      display: inline-block;
      padding: 0 2rem; } }
  .home__txt-1 {
    padding-top: 10rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 10rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 90em) {
      .home__txt-1 {
        text-align: center;
        padding-top: 8rem;
        font-size: 8rem; } }
    @media only screen and (max-width: 64em) {
      .home__txt-1 {
        text-align: start;
        padding-top: 6rem;
        font-size: 8rem; } }
    @media only screen and (max-width: 48em) {
      .home__txt-1 {
        text-align: center;
        padding-top: 6rem;
        font-size: 8rem; } }
    @media only screen and (max-width: 26.56em) {
      .home__txt-1 {
        text-align: center;
        padding-top: 4rem;
        font-size: 6rem; } }
    @media only screen and (max-width: 20em) {
      .home__txt-1 {
        text-align: center;
        padding-top: 2rem;
        font-size: 4rem; } }
  .home__txt-2 {
    padding-top: 1rem;
    color: #fff;
    font-size: 13rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 90em) {
      .home__txt-2 {
        text-align: center;
        font-size: 10rem; } }
    @media only screen and (max-width: 64em) {
      .home__txt-2 {
        text-align: start;
        font-size: 11.5rem; } }
    @media only screen and (max-width: 48em) {
      .home__txt-2 {
        text-align: center;
        font-size: 10rem; } }
    @media only screen and (max-width: 26.56em) {
      .home__txt-2 {
        text-align: center;
        font-size: 8rem; } }
    @media only screen and (max-width: 20em) {
      .home__txt-2 {
        text-align: center;
        font-size: 6rem; } }
  .home__txt-3 {
    padding-top: 1rem;
    color: #fff;
    font-size: 2.5rem;
    text-align: center; }
  .home__btn {
    margin-top: 5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    background-color: #08D9D6;
    border: 1px solid #08D9D6;
    padding: 2rem 6rem;
    cursor: pointer; }
    @media only screen and (max-width: 48em) {
      .home__btn {
        padding: 1.5rem 2.5rem;
        text-align: center;
        margin-left: 35rem;
        margin-bottom: 0rem; } }
    @media only screen and (max-width: 26.56em) {
      .home__btn {
        padding: 1.5rem 2.5rem;
        text-align: center;
        margin-left: 25rem;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 20em) {
      .home__btn {
        padding: 1.5rem 2.5rem;
        text-align: center;
        margin-left: 25rem;
        margin-bottom: 5rem; } }
  .home__img {
    height: 83rem;
    padding-left: 10rem; }
    @media only screen and (max-width: 90em) {
      .home__img {
        padding-top: 25rem;
        height: 70rem;
        padding-left: 16rem; } }
    @media only screen and (max-width: 64em) {
      .home__img {
        padding-top: 20rem;
        height: 65rem;
        padding-left: 14rem; } }
    @media only screen and (max-width: 48em) {
      .home__img {
        padding-top: 10rem;
        height: 60rem;
        padding-left: 18rem; } }
    @media only screen and (max-width: 26.56em) {
      .home__img {
        padding-top: 2rem;
        height: 50rem;
        padding-left: 14rem; } }
    @media only screen and (max-width: 20em) {
      .home__img {
        padding-top: 2rem;
        height: 40rem;
        padding-left: 14rem; } }

.program {
  background-color: #fff;
  padding: 0 30rem; }
  @media only screen and (max-width: 90em) {
    .program {
      padding: 0 20rem; } }
  @media only screen and (max-width: 64em) {
    .program {
      padding: 0 15rem; } }
  @media only screen and (max-width: 48em) {
    .program {
      padding: 0 10rem; } }
  @media only screen and (max-width: 26.56em) {
    .program {
      padding: 0; } }
  @media only screen and (max-width: 20em) {
    .program {
      padding: 0; } }
  .program__txt-1 {
    padding-top: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000;
    font-size: 3rem;
    padding-bottom: 1rem; }
    @media only screen and (max-width: 64em) {
      .program__txt-1 {
        font-size: 4.5rem;
        text-align: center; } }
    @media only screen and (max-width: 48em) {
      .program__txt-1 {
        font-size: 3.5rem;
        text-align: center; } }
    @media only screen and (max-width: 26.56em) {
      .program__txt-1 {
        font-size: 2.5rem;
        text-align: center; } }
    @media only screen and (max-width: 20em) {
      .program__txt-1 {
        font-size: 2rem; } }
  .program__txt-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 5rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 64em) {
      .program__txt-2 {
        font-size: 5rem; } }
    @media only screen and (max-width: 48em) {
      .program__txt-2 {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 26.56em) {
      .program__txt-2 {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 20em) {
      .program__txt-2 {
        font-size: 3rem; } }
  .program__cards {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    grid-gap: 2rem;
    text-align: center;
    justify-content: center; }
    @media only screen and (max-width: 90em) {
      .program__cards {
        padding: 10rem 0;
        display: grid;
        grid-template-columns: repeat(4, 25rem);
        grid-gap: 1rem;
        text-align: center;
        justify-content: center; } }
    @media only screen and (max-width: 64em) {
      .program__cards {
        padding: 8rem 0;
        display: grid;
        grid-template-columns: repeat(4, 25rem);
        grid-gap: 1rem;
        text-align: center;
        justify-content: center; } }
    @media only screen and (max-width: 48em) {
      .program__cards {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 6rem 0;
        margin: 0 25rem; } }
    @media only screen and (max-width: 26.56em) {
      .program__cards {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 6rem 0;
        margin: 0 22rem; } }
    @media only screen and (max-width: 20em) {
      .program__cards {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 5rem 0;
        margin: 0 22rem; } }
    .program__cards-item {
      width: 20rem;
      height: 25rem;
      padding: 2rem;
      background-color: #343841; }
      .program__cards-item h1 {
        font-size: 2rem;
        color: #08D9D6;
        padding-bottom: 2rem; }
      .program__cards-item p {
        font-size: 1.5rem;
        color: #EAEAEA; }
      .program__cards-item img {
        margin-top: 1rem;
        width: 6rem;
        border-radius: 50%;
        background-color: #7a7272;
        margin-bottom: 2rem; }

.pricing {
  background-color: #252A34;
  padding: 10rem 10rem; }
  @media only screen and (max-width: 64em) {
    .pricing {
      padding: 10rem 10rem; } }
  @media only screen and (max-width: 48em) {
    .pricing {
      padding: 8rem 10rem; } }
  @media only screen and (max-width: 26.56em) {
    .pricing {
      padding: 6rem 10rem; } }
  @media only screen and (max-width: 20em) {
    .pricing {
      padding: 4rem 10rem; } }
  .pricing__heading {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 64em) {
      .pricing__heading {
        font-size: 5rem;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 48em) {
      .pricing__heading {
        font-size: 4.5rem;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 26.56em) {
      .pricing__heading {
        font-size: 3.5rem;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 20em) {
      .pricing__heading {
        font-size: 2.5rem;
        margin-bottom: 3rem; } }
  .pricing__card {
    display: grid;
    grid-template-columns: repeat(4, 35rem);
    grid-gap: 2rem;
    padding: 0 10rem; }
    @media only screen and (max-width: 90em) {
      .pricing__card {
        display: grid;
        grid-template-columns: repeat(2, 30rem);
        grid-template-rows: repeat(2, 50rem);
        grid-gap: 5rem;
        padding: 0 15rem; } }
    @media only screen and (max-width: 64em) {
      .pricing__card {
        display: grid;
        grid-template-columns: repeat(2, 30rem);
        grid-template-rows: repeat(2, 50rem);
        grid-gap: 5rem;
        padding: 0 15rem; } }
    @media only screen and (max-width: 48em) {
      .pricing__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 22rem; } }
    @media only screen and (max-width: 26.56em) {
      .pricing__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 11rem; } }
    @media only screen and (max-width: 20em) {
      .pricing__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 9rem; } }
    .pricing__card-item {
      background-color: #064663;
      width: 30rem;
      color: #fff; }
    .pricing__card-img {
      height: 20rem;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      object-fit: cover; }
    .pricing__card-heading {
      text-transform: uppercase;
      font-size: 2rem;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      transform: translateY(-3rem) skewY(-6deg);
      background-color: #fff;
      color: #3C4048; }
    .pricing__card-text ul {
      list-style: none; }
      .pricing__card-text ul li {
        transform: translateY(-3rem) skewY(-6deg);
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0; }
        .pricing__card-text ul li:not(:last-child) {
          border-bottom: 1px solid #fff; }
    .pricing__card-arrow {
      text-align: center;
      transform: translateY(-1rem); }
      .pricing__card-arrow button {
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 900;
        border: none;
        background-color: #08D9D6;
        padding: 1rem 3rem;
        padding-bottom: 1rem;
        color: #252A34;
        cursor: pointer; }

.book {
  background-color: #fff;
  padding: 15rem 30rem; }
  @media only screen and (max-width: 90em) {
    .book {
      padding: 12rem 5rem; } }
  @media only screen and (max-width: 64em) {
    .book {
      padding: 12rem 8rem; } }
  @media only screen and (max-width: 48em) {
    .book {
      padding: 10rem 10rem; } }
  @media only screen and (max-width: 26.56em) {
    .book {
      padding: 5rem 5rem; } }
  @media only screen and (max-width: 20em) {
    .book {
      padding: 2.5rem; } }
  .book__form {
    background-image: url(../images/2.jpg);
    background-position: center; }
    .book__form-heading {
      font-size: 5rem;
      padding: 5rem 0;
      margin-left: 15rem;
      color: #fff; }
      @media only screen and (max-width: 90em) {
        .book__form-heading {
          font-size: 5rem;
          margin-left: 7rem; } }
      @media only screen and (max-width: 48em) {
        .book__form-heading {
          font-size: 4.5rem;
          color: #fff; } }
      @media only screen and (max-width: 20em) {
        .book__form-heading {
          font-size: 2.5rem;
          color: #413b3b; } }
    .book__form-group {
      margin-left: 8rem;
      margin-bottom: 3rem; }
    .book__form-btn {
      background-color: #fff;
      padding: 1rem 5rem;
      margin-left: 8rem;
      margin-bottom: 7rem;
      color: #000;
      font-size: 1.5rem;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer; }
      @media only screen and (max-width: 20em) {
        .book__form-btn {
          padding: 1rem 2rem;
          margin-left: 12rem; } }

.form__input {
  border: none;
  padding: 1rem 2rem;
  padding-right: 8rem;
  font-size: 1.5rem; }

.form__input:placeholder-shown + .form__label {
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all .3s; }

.footer {
  background-color: #252A34;
  padding: 8rem; }
  @media only screen and (max-width: 26.56em) {
    .footer {
      padding: 5rem; } }
  @media only screen and (max-width: 20em) {
    .footer {
      padding: 4rem; } }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
    @media only screen and (max-width: 26.56em) {
      .nav__link:link, .nav__link:visited {
        padding: 1rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 20em) {
      .nav__link:link, .nav__link:visited {
        padding: 1rem;
        font-size: 1rem; } }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5; }

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem; }

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500; }

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem; }

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem; }

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.highlight {
  position: relative; }

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary); }

.btn {
  margin-top: 5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  background-color: #08D9D6;
  border: 1px solid #08D9D6;
  padding: 2rem 6rem;
  cursor: pointer; }
